@font-face {
  font-family: 'Gelosa Cara';
  src: url("fonts/GelosaCara.otf") format("opentype"); }

ashgj
h1 {
  font-family: "Gelosa Cara", sans-serif; }

.navbar {
  background-color: #EAB535 !important;
  font-family: "Open Sans", sans-serif; }

@media (max-width: 599px) {
  .logo-banner {
    width: 80%;
    height: auto; } }

body {
  background-color: #081B38; }

.carousel-item {
  font-family: "Raleway", sans-serif;
  font-weight: 100; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #EAB535; }
  .jumbotron h2 {
    color: #666666;
    font-family: "Raleway", sans-serif;
    font-weight: 200px; }
    @media (max-width: 599px) {
      .jumbotron h2 {
        font-size: 1.5rem; } }
  .jumbotron h3 {
    color: #081B38;
    font-family: "Raleway", sans-serif;
    font-weight: 200px; }

p {
  font-family: "Raleway", sans-serif; }
