// ONLY the .SCSS file should be edited
// the .CSS file will be overwritten
// by typing "npm run scss" into the console!

// ^ do that to see changes in the scss code

$color-dk-blue: #081B38;
$color-light-dk-blue: #264653;
$color-yellow: #EAB535;
$color-orange: #E76F51;
$color-gray: #888888;
$color-light-gray: #ccc;
$color-light-purple: #e0e3ed;
$color-light: white;

$header-font: 'Gelosa Cara', sans-serif;
$body-font: 'Raleway', sans-serif;
$footer-link-font: "Open Sans", "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Roboto", "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; 

@font-face {
    font-family: 'Gelosa Cara';
    src: url('fonts/GelosaCara.otf') format('opentype');
}

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }

.separator-line {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 2rem !important;
    margin-top: 3rem; 
}

.navbar {
    background-color: $color-yellow!important;
    font-family: $footer-link-font;
}

// .logo-banner {
//     @include for-phone-only {
//         width: 80%;
//         height: auto;
//     }
// }

.card-category {
    width: 250px;
    height: 300px;
    object-fit: cover;
    margin: 5%;
}

body {
    background-color: $color-dk-blue;
    
}

h2{
    text-align: center;
    color: #E76F51;


}
.carousel {
    width: 100%;
}

.carousel-item {
    font-family: $body-font;
    font-weight: lighter;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: $color-yellow;
    h2 {
        color: $color-orange;
        font-family: $body-font;
        font-weight: 200px;
        @include for-phone-only{
            font-size: 1.5rem;
        }
    }
    h3 {
        color: $color-dk-blue;
        font-family: $body-font;
        font-weight: 200px;
    }

}

p {
    font-family: $body-font;
}

body {
    background-color: $color-dk-blue;
}

.background-blue {
    background-color: $color-light-dk-blue;

}
//aboutUs formatting 


 h5{
        text-align: center;
        color: #E76F51;
        .rounded-circle {
            width: 100%;
            height: auto;
          }
}



// footer formatting only
footer {
    background-color:transparent;
    padding: 7rem 0;
    color: $color-gray;
    font-size: 16px;
    padding-left: 0;

    a {
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; 
        color: $color-orange;
    }
    a a:hover {
        text-decoration: none !important; 
    }
    h3 {
        font-family: $footer-link-font;
        font-size: 20px;
        color: $color-orange;
        margin-bottom: 30px;
    }

    .content {
        height: 70vh; 
    }

    p {
        font-family: $footer-link-font;
    }

    .row .gallery {
        margin-right: -5px;
        margin-left: -5px; 
        padding-right: 5px;
        padding-left: 5px;
    }

    .gallery a {
        display: block;
        margin-bottom: 10px;
        -o-transition: .3s all ease;
        transition: .3s all ease; 
    }

    .gallery a:hover {
        opacity: .5; 
    }

    .quick-info li {
        color: $color-light;
        font-size: 16px;
        margin-bottom: 20px;
    }

    .icon {
        font-size: 20px;
        color: $color-orange; 
    }

    .subscribe {
        position: relative; 
    }

    .subscribe .form-control {
        background-color: $color-light-purple;
        -webkit-box-shadow: none;
        box-shadow: none;
        border-radius: 30px;
        height: 55px;
        padding-left: 30px;
        padding-right: 130px;
        border: none;
        color: $color-light; 
    }

    .subscribe .form-control::-webkit-input-placeholder ::-ms-input-placeholder ::-moz-placeholder {
        color: $color-light-gray;
        font-size: 14px; 
    }
    .subscribe .btn-submit {
        background: #E76F51;
        height: 47px;
        border-radius: 30px;
        padding-left: 30px;
        padding-right: 30px;
        color: #fff;
        font-weight: bold;
        position: absolute;
        top: 4px;
        right: 4px;
        -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2); 
    }

    span {
        color: $color-orange; 
    }

    .footer-menu-wrap {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        padding-top: 2rem !important;
        margin-top: 7rem; 
    }

    .footer-menu {
        margin-bottom: 0; 
    }

    .footer-menu li {
        display: inline-block; 
    }

    @media (max-width: 767.98px) {
        .footer-32892 .footer-menu li {
          display: block; 
        } 
    }

    .footer-menu li a {
        padding: 10px;
        display: inline-block;
        color: $color-orange; 
    }

    @media (max-width: 767.98px) {
        .footer-32892 .footer-menu li a {
          display: block;
          padding-left: 0px; 
        } 
    }

    .footer-menu li:first-child a {
        padding-left: 0; 
    }

}html *{
    -webkit-font-smoothing: antialiased;
}

.h1, .h2, .h3, .h4, body, h1, h2, h3, h4, h5, h6 {
    font-family: Roboto,Helvetica,Arial,sans-serif;
    font-weight: 300;
    line-height: 1.5em !important;
}

h1 {

    padding: 75px;
    padding-bottom: 5px;
    
    }

h3{
    font-weight: 300!important;
    font-size: 25px !important;
}


h4{
    font-size: 18px !important;
}

h6{
    font-size: 12px !important;
    text-transform: uppercase;
    font-weight: 500;

}

p {
     font-family: $body-font; 
}

.text-gray {
    color: #999!important;
}

.card-title{
    font-weight: 700 !important;
    margin-top: 10px;
    color: #3c4858;
    font-family: Roboto Slab,Times New Roman,serif;
}
.card {
    border: 0;
    margin-bottom: 30px;
    margin-top: 75px;
    border-radius: 6px !important;
    color: rgba(0,0,0,.87);
    background: #fff;
    width: 100%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
}

.card .card-body{
    padding: .9375rem 1.875rem;
}

.card-description{
    color: #999;
}

.card.card-profile{
    text-align: center;
}
.card .card-header.card-header-image {
    position: relative;
    padding: 0;
    z-index: 1;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: -30px;
    border-radius: 6px;
    max-height: 0px;
}

.card .card-header.card-header-image a {
    display: block;
}

.card .card-header.card-header-image img {
    width: 100%;
    height: 215px;
    border-radius: 6px;
    pointer-events: none;
    box-shadow: 0 5px 15px -8px rgba(0,0,0,.24), 0 8px 10px -5px rgba(0,0,0,.2);
}

.card .card-header.card-header-image .colored-shadow {
    transform: scale(.94);
    top: 12px;
    filter: blur(12px);
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    transition: opacity .45s;
    opacity: 1;
}

.card .card-header.card-header-image .card-title {
    position: justify;
    bottom: 5px;
    left: 15px;
    color:gray#888888;
    font-size: 1.125rem;
    text-shadow: 0 2px 5px rgba(33,33,33,.5);
    font-weight: 700;
    font-family: 'Roboto Slab';
}

.card .card-category {
    margin-top: 15px;
    margin-bottom: 10px;
}

.card .card-body+.card-footer {
    padding-top: 0;
    border: 0;
    border-radius: 6px;
}

.card .card-footer {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: 0;
}

.card-profile .card-footer .btn.btn-just-icon{
    font-size: 20px;
    padding: 12px 13px;
    line-height: 1em;
}

.card .card-footer {
    padding: .9375rem 1.875rem;
}


.card-profile .card-body+.card-footer{
    margin-top: -15px;
}
.card .text-info {
    color:#E76F51!important;
    align-items: justify;
  
}

.card-profile .card-avatar {
    width: 130px;
    max-width: 130px;
    max-height: 100px;
    margin: -50px auto 0;
    border-radius: 50%;
    overflow: hidden;
    padding: 0;
    box-shadow: 0 16px 38px -12px rgba(0,0,0,.56), 0 4px 25px 0 rgba(0,0,0,.12), 0 8px 10px -5px rgba(0,0,0,.2);
}

.card-profile .card-avatar img{
    width: 100%;
}
.card-profile .card-avatar+.card-body{
    margin-top: 15px;
}





