@font-face : {
  font-family: "GelosaCara-Regular";
  src: url("fonts/GelosaCara.otf") format("opentype"); }

@font-face : {
  font-family: "Raleway-Regular";
  src: url("fonts/Raleway-Regular.ttf") format("truetype"); }

h1 {
  font-family: "GelosaCara-Regular"; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #EAB535; }
  .jumbotron h1 {
    font-family: "GelosaCara-Regular";
    color: #081B38; }
  .jumbotron h3 {
    color: #666666;
    font-family: "Raleway-Regular"; }
