$color-dk-blue: #081B38;
$color-yellow: #EAB535;
$color-orange: #E76F51;
$color-gray: #666666;
$color-light: white;

$header-font: 'Gelosa Cara', sans-serif;
$body-font: 'Raleway', sans-serif;

@font-face: {
    font-family: 'Gelosa Cara';
    src: url('fonts/GelosaCara.otf') format('opentype');
}

h1 {
    font-family: $header-font;
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: $color-yellow;
    h1 {
        font-family: $header-font;
        color: $color-dk-blue;
    }
    h2 {
        color: $color-gray;
        font-family: $body-font;
        font-weight: 200px;
    }
    h3 {
        color: $color-dk-blue;
        font-family: $body-font;
        font-weight: 200px;
    }
}

p {
    font-family: $body-font;
}