$color-dk-blue: #081B38;
$color-yellow: #EAB535;
$color-orange: #E76F51;
$color-gray: #666666;
$color-light: white;

$header-font: 'Gelosa Cara', sans-serif;
$body-font: 'Raleway', sans-serif;
$footer-link-font: 'Open Sans', sans-serif;

@font-face {
    font-family: 'Gelosa Cara';
    src: url('fonts/GelosaCara.otf') format('opentype');
}

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }


h1 {
    font-family: $header-font;
}

.navbar {
    background-color: $color-yellow!important;
    font-family: $footer-link-font;
}

.logo-banner {
    @include for-phone-only {
        width: 80%;
        height: auto;
    }
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-color: $color-yellow;
    h2 {
        color: $color-gray;
        font-family: $body-font;
        font-weight: 200px;
        @include for-phone-only{
            font-size: 1.5rem;
        }
    }
    h3 {
        color: $color-dk-blue;
        font-family: $body-font;
        font-weight: 200px;
    }
}

p {
    font-family: $body-font;
}

body {
    background-color: $color-dk-blue;
}

.background-blue {
    background-color: #264653;

}