@font-face : {
  font-family: 'Gelosa Cara';
  src: url("fonts/GelosaCara.otf") format("opentype"); }

h1 {
  font-family: "Gelosa Cara", sans-serif; }

.jumbotron {
  margin: 0;
  padding: 30px;
  background-color: #EAB535; }
  .jumbotron h1 {
    font-family: "Gelosa Cara", sans-serif;
    color: #081B38; }
  .jumbotron h2 {
    color: #666666;
    font-family: "Raleway", sans-serif;
    font-weight: 200px; }
  .jumbotron h3 {
    color: #081B38;
    font-family: "Raleway", sans-serif;
    font-weight: 200px; }

p {
  font-family: "Raleway", sans-serif; }
